# https://github.com/kubernetes-sigs/kubebuilder/releases
kubebuilder 3.1.0
# https://golang.org/dl/
golang 1.16.5
# https://github.com/mozilla/sops/releases
sops 3.7.1
# https://github.com/kubernetes-sigs/kustomize/releases
kustomize 4.1.3
# https://github.com/rancher/k3d/releases
k3d 4.4.6
# https://github.com/kubernetes/kubernetes/releases
kubectl 1.20.7
# https://github.com/helm/helm/releases
helm 3.6.1
# https://github.com/instrumenta/kubeval/releases
kubeval v0.16.1
