# UPDATE_HERE
# https://github.com/kubernetes-sigs/kubebuilder/releases
kubebuilder 3.10.0
# https://golang.org/dl/
golang 1.20.3
# https://github.com/mozilla/sops/releases
sops 3.7.3
# https://github.com/kubernetes-sigs/kustomize/releases
kustomize 5.0.1
# https://github.com/rancher/k3d/releases
k3d 5.4.9
# https://github.com/kubernetes/kubernetes/releases
kubectl 1.26.4
# https://github.com/helm/helm/releases
helm 3.11.3
# https://github.com/norwoodj/helm-docs/releases
helm-docs 1.11.0
# https://github.com/instrumenta/kubeval/releases
kubeval v0.16.1
# https://github.com/git-chglog/git-chglog/releases
git-chglog 0.15.4
